body {
    margin:0;
    /*min-height:80vmax; */
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

img {
   /* max-width: 100%;
    height: auto;*/
    height:inherit; /*this alone made it shrink down to fit the header container*/
    object-fit:contain;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:6em;
    background-color: #1F2937;
    padding: 0em 2.5em;
}

a {
    text-decoration: none;
    color:white;
  
  }

.left-links {
    height: 6em;
    width:auto;
} /* thought redundant and tried removing and broke the cat icon; needed i think*/

.right-links {
    display: flex;
    gap: 2.5em;
}

.top-container {
    display: flex;
    justify-content:left;
    align-items: center;
    flex:10;
    max-width:100%;
    /*overflow-x: hidden; */
   /*background-image: url(img/canteen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center; */
    background-color: rgb(75, 74, 74);
    text-align: left;
    padding:0em;
    /*gap:150px; removing helped with meowster jutting out too far 
    when the window is resized+flexing*/
    
    
 
}

.left {
    display:flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    margin-left: 5%;

}
.hero {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.subtext {
    color:#E5E7EB;
    font-size: 18px;
}[class*="container"]

button {
    background-color: #3882F6;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.canteen, .meowster {
    align-items: center;
    max-width: 50%;
}

.meowster {
    height:300px;
    margin:0 10%;
    max-width: 100%;
   /* max-width: 100%;
    max-height: 100%; trying to solve meowster, didnt help*/
    

}

.canteen {
    height:400px;
    /*margin: 0 200px;*/


}

.canteen img, .meowster img {
    max-width: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .hero {
      font-size: 36px;
    }
  
    .subtext {
      font-size: 14px;
      line-height: 1.5;
    }
  }
/*.top-container, .quote-container, .signup-container, .call, .bold, .subtext, .button, .canteen, .meowster, .hero, .left, .left-links, .quote, .quoter, .right-links, .info, .info-container, p, .header, .footer, .info img {
    border:solid 1px red; 
}*/
.info-container{
    color:white;
    font-size: 36px;
    font-weight: bolder;
    background-color: rgb(75, 74, 74);
    padding: 1em ;
    /*background-image: url(img/tilebg2.png);
    background-size: contain;
    background-position-x: center;    -not sure I'm a fan of this. */
}


.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex:10;
    padding: 1em ;
 

}

.info img {
    height: 250px;
    width:auto;
    }
    
.info p {
    font-size: 24px;
    text-align: center;
}

.quote-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex:9;
    padding:100px;

    background-color: #E5E7EB;
    background-image: url(img/tilebg2.png);
    background-size: contain;
    background-position-x: center; 
}

.quote {
background-color: /*#e3d4b3;*/antiquewhite;
/*background-image: url(https://styles.redditmedia.com/t5_2rron/styles/backgroundImage_ak0yy55m34a31.png);*/
font-size: 36px;
font-weight: lighter;
font-style: italic;
border-radius: 25px;
}

.quote b {
    padding: 0 200px;
    text-align: right;
    font-style: normal;
    font-size: 24px;
    margin-left: auto;
}

.signup-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex:8;
}

.signup-container {
    display: flex;
    background-color: #45608b;
    justify-content: space-evenly;
    
}

.call {
    display:flex;
    background-color: #45608b;
    border-radius: 10px;
    align-items: center;
 
}

.call .subtext {
    color:white;
    padding-right: 50px;
}

.call button {
    background-color: #3882F6;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-right: 25px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;;
    background-color: #1F2937;
    background-image: url(img/tilepal.jpg);
    background-size: contain;
    background-position-x: center; 
    height:2em;
    flex-shrink: 0;


}

/*.top-container, .info-container, .quote-container, .signup-container {
    margin: 0 50px;
       min-width:min-content (and other width variants)
    This was another attempt to fix the meowster jutting out on resize... failed
} */


/*.imgbox a {

}

.info .subtext {
    
} */
